readerboard-component(test='vm.test' title="'ReaderBoard'" clear='vm.clear()' area='vm.areaOne(one,two)' results='vm.results')
//- readerboard-component(test='vm.test' title="'ReaderBoard'" clear='vm.clear()') transclusion is easy
//- h1 {{vm.test}}
//- readerboard-component(test='vm.test' title="'ReaderBoard'" clear='vm.clear()' area='vm.areaOne(one,two)' results='vm.results')