include ../defs.svg
div#main-content(flex='75')
	//- include ../new-coat.svg
	div.blend(layout='row')
		//- p.banner-text Hey, I’m an independent web developer and designer. I work primarily with the MEAN stack. Have a look through some of my projects. Need help with an upcoming project or application? Learn a bit more about me and then consider hiring me.
		//- p commenting system
		p(flex).banner-text Hey, I’m an independent web developer and designer. I work primarily with the MEAN stack. Have a look through some of my projects. Need help with an upcoming project or application? Learn a bit more about me and then consider hiring me.
		p(flex) commenting system
	div#blurredimg.visible-img( layout='column'  in-view="vm.isVisible = $inview"  ng-class="{'is-visible': vm.isVisible}")
		//- p layout column
		//- p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, dolorem. Debitis excepturi quis libero, perspiciatis fugiat maiores, rerum aliquam praesentium est! Laudantium eligendi porro ut, voluptatum doloremque placeat nihil. Consequatur.
		p(flex) layout column
		p(flex)  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, dolorem. Debitis excepturi quis libero, perspiciatis fugiat maiores, rerum aliquam praesentium est! Laudantium eligendi porro ut, voluptatum doloremque placeat nihil. Consequatur.
	div#pica.visible-img(in-view="vm.isVis = $inview"  ng-class="{'is-visible': vm.isVis}")
	div.hero(layout='row' layout-wrap)
		//- h1.about-me About me
		//- p.about-me I started learning web development in 2013 when I was looking for a program that would calculate the difference in letters between two blocks of text. No such program existed to my knowledge, so I decided to build it myself.  Thus began my hobby in the web. Check out the project 
		//- 	a.here(href='/readerboard') here.
	//- 	h1.hello(flex='100' style='text-align: center') hello 
	//- img.element(src='/images/cooper1.png')
	//- p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa dolor et obcaecati quis debitis dolorum reiciendis ex nisi expedita error, 
	//- 	| ab repudiandae porro aspernatur sunt, eveniet. Nisi quos atque cupiditate!
	//- 	|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur optio quis quasi dolores. Recusandae voluptatum veniam maiores magnam perferendis dicta asperiores facilis. Nostrum fugit at et quisquam, pariatur asperiores.
	//- 	|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo esse eos maxime quis id, dolores corporis veniam possimus! Ratione a hic laudantium soluta dignissimos recusandae vitae iusto, aspernatur nisi aut.
	//- 	|  	 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem animi quas in quidem optio, officia ratione debitis blanditiis. Quasi optio magnam deleniti cupiditate, temporibus libero quaerat provident itaque aspernatur voluptatem.
	//- img.svg(src='/images/shape.png')
	//- p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa dolor et obcaecati quis debitis dolorum reiciendis ex nisi expedita error, 
	//- 	| ab repudiandae porro aspernatur sunt, eveniet. Nisi quos atque cupiditate!
	//- 	|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur optio quis quasi dolores. Recu sandae voluptatum veniam maiores magnam perferendis dicta asperiores facilis. Nostrum fugit at et quisquam, pariatur asperiores.
	//- 	|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo esse eos maxime quis id, dolores corporis veniam possimus! Ratione a hic laudantium soluta dignissimos recus andae vitae iusto, aspernatur nisi aut.
	//- 	|  	 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem animi quas in quidem optio, officia ratione debitis blanditiis. Quasi optio magnam deleniti cupiditate, temporibus libero quaerat provident itaque aspernatur voluptatem.
	//- include ../svglogo.svg
	//- include ../full-signature.svg
	//- include ../pencil-sig.svg
	//- img(src='/images/signature.svg')
	//- img(src='/images/full-signature.svg')
div#empty(layout layout-sm='column' flex='noshrink')
	div(flex) blah
	div#beep(flex) beep bop boop
