div.hero(layout='row' layout-wrap)
	h1.hello(flex='100' style='text-align: center') hello 
	h1.mike(flex='100' style='text-align: center') I'm Mike 
	h1.dev(flex='100' style='text-align: center') A  creative web developer
	h1.mean(flex='100' style='text-align: center') specializing in the mean stack <br/>and single page applications

	h1.checkout(flex='100' style='text-align: center') checkout some of my examples!

	//- main(flex='66')	Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
	//- 				|Perferendis ipsum officiis tempora, maxime accusantium quas voluptate enim illo reiciendis ut natus praesentium, dolore nam magnam laborum sapiente impedit delectus doloremque. 
	//- 				|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum officiis tempora, maxime accusantium quas voluptate enim illo reiciendis ut natus praesentium, dolore nam magnam laborum sapiente impedit delectus doloremque.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum officiis tempora, maxime accusantium quas voluptate enim illo reiciendis ut natus praesentium, dolore nam magnam laborum sapiente impedit delectus doloremque.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum officiis tempora, maxime accusantium quas voluptate enim illo reiciendis ut natus praesentium, dolore nam magnam laborum sapiente impedit delectus doloremque.

	//- aside(flex='33')	Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
	//- 					|Ipsam debitis nesciunt velit cum reiciendis iste perferendis id ipsum, aspernatur excepturi delectus vel dicta doloribus, harum deserunt iusto hic provident cupiditate.
		
