banner-component
//- include ../defs.svg
//- div {{vm.bitch}}
.svg-wrapper
//- include ../new-coat.svg
skills-component
//- img(src='/images/tile.svg')
//- img(src='/images/cooper.jpg')
//- canvas-component(circs='6')
//- canvas-component(circs='60') canvas example
//- canvas-component(circs='11') canvas example
//- include svg-text.svg
.blend
	.intro(in-view="vm.introIsVisible = $inview"  ng-class="{'intro-inview': vm.introIsVisible}") Who I am and what I do
	.banner-text(in-view="vm.bannerTextIsVisible = $inview"  ng-class="{'banner-text-in-view': vm.bannerTextIsVisible}") Hey, I’m an independent web developer and designer. I work primarily with the MEAN stack. Have a look through some of my projects. Need help with an upcoming project or application? Learn a bit more about me and then consider hiring me.
//- img(src='images/hexagons.svg')
//- include ../sidebar
	//- include comic-svg.svg
	//- h4.learn-more Learn more about what I do
//- a#logo( hide-xs hide-sm href='/')
//- 	include ../coat-of-arms.svg
	//- include ../caret.svg
//- .test what color am i 
//- .flexxer
//- 	.view-test.not-in-view(in-view="ctrl.bannerTextIsVisible = $inview"  ng-class="{'testing-view': ctrl.bannerTextIsVisible}")
//- 	.view-test2.not-in-view2(in-view="ctrl.bannerTextIsVisible2 = $inview"  ng-class="{'testing-view2': ctrl.bannerTextIsVisible2}")
	//- img(src='/images/cooper.png')
//- foot
//- div.login-wrapper
//- 	include ../sidebar
//- 	div#blurredimg.visible-img.grid-code(  in-view="vm.isVisible = $inview"  )
//- div.rela
//- 	div#pica.visible-img.grid-tree(in-view="vm.isVis = $inview"  ng-class="{'is-visible': vm.isVis}")
//- 	div#blurcoop