include ../defs.svg
div.blend
//- img#visible-img(src="/images/IMG_2155.jpg", alt=""  in-view="vm.isVisible = $inview"  ng-class="{'is-visible': vm.isVisible}")
div.hero(layout='row' layout-wrap)
//- 	h1.hello(flex='100' style='text-align: center') hello 
//- img.element(src='/images/cooper1.png')
//- p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa dolor et obcaecati quis debitis dolorum reiciendis ex nisi expedita error, 
//- 	| ab repudiandae porro aspernatur sunt, eveniet. Nisi quos atque cupiditate!
//- 	|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur optio quis quasi dolores. Recusandae voluptatum veniam maiores magnam perferendis dicta asperiores facilis. Nostrum fugit at et quisquam, pariatur asperiores.
//- 	|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo esse eos maxime quis id, dolores corporis veniam possimus! Ratione a hic laudantium soluta dignissimos recusandae vitae iusto, aspernatur nisi aut.
//- 	|  	 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem animi quas in quidem optio, officia ratione debitis blanditiis. Quasi optio magnam deleniti cupiditate, temporibus libero quaerat provident itaque aspernatur voluptatem.
//- img.svg(src='/images/shape.png')
//- p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa dolor et obcaecati quis debitis dolorum reiciendis ex nisi expedita error, 
//- 	| ab repudiandae porro aspernatur sunt, eveniet. Nisi quos atque cupiditate!
//- 	|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur optio quis quasi dolores. Recu sandae voluptatum veniam maiores magnam perferendis dicta asperiores facilis. Nostrum fugit at et quisquam, pariatur asperiores.
//- 	|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo esse eos maxime quis id, dolores corporis veniam possimus! Ratione a hic laudantium soluta dignissimos recus andae vitae iusto, aspernatur nisi aut.
//- 	|  	 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem animi quas in quidem optio, officia ratione debitis blanditiis. Quasi optio magnam deleniti cupiditate, temporibus libero quaerat provident itaque aspernatur voluptatem.
//- include ../svglogo.svg
