include ../defs.svg
div.contain
	

	//- div user is {{vm.user}}
	//- div(ng-show='vm.isLogged') I’m logged in
	
	//- {{vm.userlist}}
div#main-content(flex='75')
	//- include ../new-coat.svg
	div.blend(layout='row')
		//- p.banner-text Hey, I’m an independent web developer and designer. I work primarily with the MEAN stack. Have a look through some of my projects. Need help with an upcoming project or application? Learn a bit more about me and then consider hiring me.
		//- p commenting system
		p(flex).banner-text Hey, I’m an independent web developer and designer. I work primarily with the MEAN stack. Have a look through some of my projects. Need help with an upcoming project or application? Learn a bit more about me and then consider hiring me.
		p(flex) commenting system
	div#blurredimg.visible-img( layout='column'  in-view="vm.isVisible = $inview"  ng-class="{'is-visible': vm.isVisible}")
		//- p layout column
		//- p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, dolorem. Debitis excepturi quis libero, perspiciatis fugiat maiores, rerum aliquam praesentium est! Laudantium eligendi porro ut, voluptatum doloremque placeat nihil. Consequatur.
		p(flex) layout column
		p(flex)  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, dolorem. Debitis excepturi quis libero, perspiciatis fugiat maiores, rerum aliquam praesentium est! Laudantium eligendi porro ut, voluptatum doloremque placeat nihil. Consequatur.
	div#pica.visible-img(in-view="vm.isVis = $inview"  ng-class="{'is-visible': vm.isVis}")
	div.hero(layout='row' layout-wrap)
