//- object(type='image/svg+xml' data='/images/logo1.svg' style='width: 300px' )
readerboard-component(lucky="{{vm.lucy}}" ) trans
button(ng-click='vm.addLogo()') add class
div(ng-repeat='user in vm.userlist')
	{{user.fuck}}
div.hero(layout='row' layout-wrap)
	h1.hello(flex='100' style='text-align: center') hello 
	p lucy {{vm.lucy}}
	//- h1.mike(flex='100' style='text-align: center') I'm Mike 
	//- h1.dev(flex='100' style='text-align: center') A  creative web developer
	//- h1.mean(flex='100' style='text-align: center') specializing in the mean stack <br/>and single page applications

	//- h1.checkout(flex='100' style='text-align: center') checkout some of my examples!
	example-component(brand="'Brand'" flavor='strawberry' at='lindquist' message='message' lucy='{{vm.lucy}}')
img.element(src='/images/cooper1.png')
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa dolor et obcaecati quis debitis dolorum reiciendis ex nisi expedita error, 
	| ab repudiandae porro aspernatur sunt, eveniet. Nisi quos atque cupiditate!
	|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur optio quis quasi dolores. Recusandae voluptatum veniam maiores magnam perferendis dicta asperiores facilis. Nostrum fugit at et quisquam, pariatur asperiores.
	|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo esse eos maxime quis id, dolores corporis veniam possimus! Ratione a hic laudantium soluta dignissimos recusandae vitae iusto, aspernatur nisi aut.
	|  	 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem animi quas in quidem optio, officia ratione debitis blanditiis. Quasi optio magnam deleniti cupiditate, temporibus libero quaerat provident itaque aspernatur voluptatem.
img(src='/images/shape.png')
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa dolor et obcaecati quis debitis dolorum reiciendis ex nisi expedita error, 
	| ab repudiandae porro aspernatur sunt, eveniet. Nisi quos atque cupiditate!
	|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur optio quis quasi dolores. Recu sandae voluptatum veniam maiores magnam perferendis dicta asperiores facilis. Nostrum fugit at et quisquam, pariatur asperiores.
	|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo esse eos maxime quis id, dolores corporis veniam possimus! Ratione a hic laudantium soluta dignissimos recus andae vitae iusto, aspernatur nisi aut.
	|  	 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem animi quas in quidem optio, officia ratione debitis blanditiis. Quasi optio magnam deleniti cupiditate, temporibus libero quaerat provident itaque aspernatur voluptatem.
include ../svglogo.svg
//- div.hero2
//- 	div.wrapper
//- 		h1 fuck me
	//- main(flex='66')	Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
	//- 				|Perferendis ipsum officiis tempora, maxime accusantium quas voluptate enim illo reiciendis ut natus praesentium, dolore nam magnam laborum sapiente impedit delectus doloremque. 
	//- 				|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum officiis tempora, maxime accusantium quas voluptate enim illo reiciendis ut natus praesentium, dolore nam magnam laborum sapiente impedit delectus doloremque.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum officiis tempora, maxime accusantium quas voluptate enim illo reiciendis ut natus praesentium, dolore nam magnam laborum sapiente impedit delectus doloremque.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum officiis tempora, maxime accusantium quas voluptate enim illo reiciendis ut natus praesentium, dolore nam magnam laborum sapiente impedit delectus doloremque.

	//- aside(flex='33')	Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
	//- 					|Ipsam debitis nesciunt velit cum reiciendis iste perferendis id ipsum, aspernatur excepturi delectus vel dicta doloribus, harum deserunt iusto hic provident cupiditate.