md-card
	md-input-container.md-block
		label Username
		input(type="text" id='uname' ng-model='selectedUser.username' value='{{selectedUser.username | uppercase}}')
	md-input-container
		label ID
		input(type="text" ng-model='selectedUser._id' value='{{selectedUser._id}}')
	md-input-container
		label Password
		input(type="text" ng-model='selectedUser.password' value='{{selectedUser.password}}')
	md-button.md-raised.md-primary(ng-click='updateUser()') save