md-dialog
	form.login( name='myForm2' ng-model="myForm2" ng-submit='dialog.loginToMongoLab()')
		md-dialog-content
			md-button(ng-click='dialog.closeDialog()') close
		md-dialog-actions 
					//- div( ng-class="{ 'has-error': myForm.username.$touched && myForm.username.$invalid}")
					md-input-container
						label(for="fuck") Username<br />
						input#username(name="fuck" ng-model='dialog.loginForm.fuck' minlength='5' required ) 
					md-input-container
						label(for="shit") password<br />
						input#password(name="shit" ng-model='dialog.loginForm.shit' minlength='5' required) 
					
					md-button.md-raised.md-primary(type="submit", value="Create") Create