#title-grid-container
	svg(id='grid-title' x='0' y='0' width='100%' height='300' xmlns="http://www.w3.org/2000/svg")
		defs
			filter(id='specLight' )
				feSpecularLighting(result='specOut' specularConstant=".75" specularExponent="20" lighting-color="yellow" )
					fePointLight(x="350" y="50" z="1000")
				feComposite(in="SourceGraphic" in2="specOut" operator="in"   )
			rect(id='rect' x='0' y='0' width='300' height='300' fill='orange')
		rect(x='0' y='0' width='100%' height='300' fill='purple' style='filter:url(#specLight);')
		text( id='skills' x="50%" y="150" text-anchor='middle' ) these are my skills
	.skills-grid(in-view="ctrl.myGridIsVisible = $inview"  ng-class="{'grid-in-view': ctrl.myGridIsVisible}" )
			a(ui-sref='')
				div.skill-item#html
					.ab
					.can html
					//- div#html &lthtml&gt
			a(ui-sref='')
				div.skill-item#css
					.ab
					.can css
					//- div CSS
			a(ui-sref='')
				div.skill-item#js
					.ab
					.can javascript
					//- div JavaScript
			a(ui-sref='')
				div.skill-item#angular
					.ab
					.can angular
					//- div(ng-non-bindable) &#123;&#123;AngularJS}}
			a(ui-sref='svg')
				div.skill-item.svg
					.ab
					.can svg
			a(ui-sref='canvas')
				div.skill-item.canvas
					.ab 
					div.can canvas	