#title-grid-container
	svg(id='grid-title' x='0' y='0' width='100%' height='200' xmlns="http://www.w3.org/2000/svg")
		text( id='skills' x="50%" y="100" text-anchor='middle' fill='none' stroke='red' stroke-width='3') these are my skills
	#skills-grid
			div.skill-item#grid-skill HTML
			div.skill-item#grid-skill CSS
			div.skill-item#grid-skill JavaScript
			a#grid-skill(ui-sref='svg')
				div.skill-item.svg 
			a#grid-skill(ui-sref='canvas')
				div.skill-item.canvas
					#ab 
					div.can CANVASS
			div.skill-item#grid-skill Illustrator
		//- div AngularJS