md-input-container
	label path to image 
	input(ng-model='$ctrl.url')
#grid-img-wrapper
	//- form.signup( name='myForm1' novalidate  ng-model="myForm1" ng-submit='dialog.updateToMongoLab()')
	//- 					label(for="files") Pic<br />
	//- 					input#image(type='file' name="files"  accept="application/x-zip-compressed,image/*" capture='camera' file-input='dialog.updateMe.files' ) 
	//- 					md-button.md-raised.md-primary(type="submit", value="Create" ) Picture

	
	//- img.svg-filter(src='images/wrigley.jpeg' )
	//- img.svg-filter#son-of-sam(src='images/wrigley.jpeg' style='width: 500; height: auto')
	//- img.svg-filter#deicide(src='images/wrigley.jpeg' style='width: 500; height: auto')
	//- img.svg-filter#green-channel(src='images/wrigley.jpeg' style='width: 500; height: auto')
	img.svg-filter(src='{{$ctrl.url}}' )
	img.svg-filter#son-of-sam(src='{{$ctrl.url}}' )
	img.svg-filter#deicide(src='{{$ctrl.url}}' )
	img.svg-filter#green-eggs-and-sam(src='{{$ctrl.url}}' )
	//- img.svg-filter#green-channel(src='{{$ctrl.url}}' )
	img.svg-filter#invert(src='{{$ctrl.url}}' )
	img.svg-filter#son-of-jake(src='{{$ctrl.url}}' )
	img.svg-filter#son-of-jake-inverted(src='{{$ctrl.url}}' )
//- svg( style=" display: block;  margin: 0 auto;" width='90%' height='33vh' preserveAspectRatio='none' viewBox='0 0 400 600' )
	//- include ../svg-image.html
	//- image( id='my-use3' xlink:href='images/cooper.png' style="width:500; height:300;" mask='url(#mask4)')
	//- image(   id='my-use4' xlink:href='images/cooper.png' style="width:500; height:300;" mask='url(#mask5)')