head
    title Mike La Hay's single page web app
    include google-analytics.html
    script(src='/distribution/scripts/vendorbundle.js')
    script(src='/distribution/scripts/scripts.min.js')
    link(rel='stylesheet' href='/distribution/scripts/styles.css')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
    link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")
    link( rel="apple-touch-icon" href="/images/coat-of-arms.png")
    base(href='/')