extends layout
block content
	div#colored-box
	div.grid-wrapper 
		include header
		//- include sidebar
		div.grid-view(ui-view flex)
		//- include footer
		foot.grid-footer
		//- myfooter
		//- test
	include sidenav
	
         



