div.grid-sidenav(class='container' ng-controller="NavController as vm")
		md-sidenav(layout='column' layout-align='start end' class='md-sidenav-left md-whiteframe-z2' md-component-id='left'  ng-click='vm.toggleNav()') 
			//- md-button( name='register' md-nav-click="goto('register')" ui-sref='register' ui-sref-active='active') Register
			//- md-divider
			md-button( name='home' md-nav-click="goto('home')" ui-sref='home' ui-sref-active='active') Home
			md-divider
			md-button( ng-hide='vm.isLogged()' ng-click='vm.showAdvanced($event)' )  Sign Up
			md-divider
			md-button( ng-hide='vm.isLogged()'   ng-click='vm.showSignIn($event)') Sign In
			md-divider
			md-button( ng-hide='!vm.isLogged()' ng-click='vm.logout()') Log Out
			md-divider
			md-button( ng-hide='!vm.isLogged()' ng-click='vm.showUpdate($event)') Update Profile
			md-divider
			md-button( name='hireme' md-nav-click="goto('hireme')" ui-sref='hireme' ui-sref-active='active') Contact Me
			md-divider
			md-button( name='pdf' md-nav-click="goto('pdf')" ui-sref='pdf' ui-sref-active='active') Resume
			md-divider
			md-button( name='readerboard' md-nav-click="goto('readerboard')" ui-sref='readerboard' ui-sref-active='active') Letter App
			md-divider
			md-button( name='users' md-nav-click="goto('users')" ui-sref='users' ui-sref-active='active') Dynamic Users Table
			md-divider
			md-button( name='canvas' md-nav-click="goto('canvas')" ui-sref='canvas' ui-sref-active='active') Canvas
			md-divider
			md-button( name='svg' md-nav-click="goto('svg')" ui-sref='svg' ui-sref-active='active') SVG
			md-divider			
			md-button( name='svg-filter' md-nav-click="goto('svg-filter')" ui-sref='svg-filter' ui-sref-active='active') SVG Filter
			md-divider
			md-button( name='gco' md-nav-click="goto('gco')" ui-sref='gco' ui-sref-active='active') Global Composite Operation