.headercontroller
	display flex
	justify-content space-between
	

@media (min-width 600px)
	.headercontroller
	display flex
	justify-content space-between
	max-width 375px
	& *
		margin 0 !important
		padding 0 !important
// .headercontroller div
// 	flex-grow 1
#no-pad
	margin 0 !important
	padding 0 !important
	
	

#logo
	display inline-block
	margin-top 10px
	
.log-wrapper
	display flex
	align-items center
	margin 0
	padding 0
	
	

#profile-pic
	size 50px
	border-radius 50%
	

	 