.headercontroller
	display flex
	justify-content flex-end
	position sticky
	top 0
	left 0 
	width 100%
	z-index 21
	background-color #30
	
.welcome
	text-align center
	line-height 150%
	transition all 3s ease
	&:hover
		line-height 10%
		transition all 3s ease
	

@media (min-width 600px)
	.headercontroller
	display flex
	justify-content space-between
	max-width 375px
	& *
		margin 0 !important
		padding 0 !important
// .headercontroller div
// 	flex-grow 1
#no-pad
	margin 0 !important
	padding 0 !important
	
	

#logo
	display inline-block
	position sticky
	top 120px
	
.log-wrapper
	display flex
	align-items center
	margin 0
	padding 0
	
	

#profile-pic
	size 50px
	// border-radius 50%
	animation 3s clippy 2s 1
	animation-fill-mode forwards
	transition all
	clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
	
	
	

@keyframes clippy
	from 
		clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
	to 
		clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	
	

	 