.svg-2.morph path {
  d: path("M2,8 L5,2 L8,8");
}
.svg-2 path {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: .5s;
}

.container {
	width : 38px
	position: absolute
	right 20px
	top 20px
}





.visible-wrapper {
  // margin:10px 0 20px 0;
  // padding:10px;
  // border:1px solid rgba(0,0,0,0.2);
  // background:#f00;
  // color:#fff;
  // border-radius:4px;

  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.visible-wrapper.ng-hide {
  opacity:0;
  /* transform: scale(0.8); */
}

.visible
	position absolute
	right 0
	margin 10px


.headercontroller
	display flex
	justify-content center
	position sticky
	top 0
	left 0 
	width 100%
	z-index 21
	background-color #30
	border-bottom green 5px solid
	
	
.welcome
	text-align center
	line-height 150%
	transition all 3s ease
	&:hover
		line-height 10%
		transition all 3s ease
	

@media (max-width 959px)
	.headercontroller
		display flex
		justify-content flex-end
		// max-width 375px
		& *
			margin 0 !important
			padding 0 !important
// .headercontroller div
// 	flex-grow 1
#no-pad
	margin 0 !important
	padding 0 !important
	
	

#logo
	display inline-block
	position sticky
	top 120px
	
.log-wrapper
	display flex
	align-items center
	margin 0
	padding 0
	
	

#profile-pic
	size 50px
	// border-radius 50%
	animation 3s clippy 2s 1
	animation-fill-mode forwards
	transition all
	clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
	
	
	

@keyframes clippy
	from 
		clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
	to 
		clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	
#topid
	height 2em
	width 100%
	background-color purple
	
.sticky-container
	height 400px
	
#sticky
	position sticky
	size 200px
	background-color red
	top 50px
	 