main
	// background-color red
	// height 1000px
	
aside
	// background-color blue
	
.hero
	background-image  linear-gradient(rgba(255, 0, 0, 0.5),rgba(255, 0, 0, 0.5)), url('/images/cooper.jpg')
	background-size cover
	height 100vh
	
.hero2
	background-size cover
	height 100vh
	background-image  url('/images/cooper.jpg')
	background-attachment fixed
	position relative
	top 200px
	overflow hidden
	margin 20px
	.wrapper
		padding 4px 8px
		margin 0
		background rgba(0,0,0,.25)
		position absolute
		top 0 
		left 0
		width 100%
		text-align center
		background inherit
		h1
			color red
			z-index 1
			position relative
			
.wrapper::before
	content: "";
	position: absolute;
	top: 0
	left: 0;
	width: 100%;
	height: 100%;
	background: inherit;
	background-attachment: fixed;
	-webkit-filter: blur(4px);
	filter: blur(4px);
	
.wrapper::after
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.25)
	
.logo-path
	stroke-dasharray 10022.2587890625
	stroke-dashoffset 10022.2587890625
	animation dash 5s linear forwards
	fill #303030
	stroke-width 6
@keyframes dash {
	to {
		stroke-dashoffset 0
	}
}
	
// img[src$='png']
clearfix()
img[src*='shape']
	shape-outside: url('/images/shape.png');
	shape-image-threshold: 0.5;
	float: right;
.element
	size 300px
	shape-outside: url('/images/cooper1.png');
	shape-image-threshold: 0.5;
	float: left;
	
.hello
	text-transform uppercase
	font-size 100px
	margin-bottom 0
	margin-top 20px
	
.mike
	font-size 75px
	text-transform uppercase
	margin 0
	
.dev, .mean, .checkout
	font-size 30px
	text-transform uppercase
	
	

	