.flexxer
	display flex


.view-test
	size 50vw
	background-color red
	
.view-test2
	size 50vw
	background-color blue
	
.not-in-view
	transition all 2s 
	transform  translate(-100%)
	opacity 0
	
.not-in-view2
	transition all 2s 
	transform  translate(100%)
	opacity 0
	
	
.testing-view
	transform  translate(0)
	opacity 1
	
.testing-view2
	transform  translate(0)
	opacity 1
	



.md-fab:hover
	transform rotate3d(60,60,60,45deg)
	
// .md-fab
	// animation fly 2s linear  infinite alternate
	
	

@keyframes fly 
	from
		transform rotate3d(0,0,0,0deg)
	to
		transform rotate3d(90,90,90,90deg)
		
.md-fab-wrapper
	background-color cyan
	// box-shadow 0 0 10px 40px cyan
	border-radius 50%
	animation btn-pulse 4s infinite cubic-bezier(.66,0,0,1) alternate
	
@keyframes btn-pulse {
    0% {
        box-shadow: 0 0 0 transparent
        // transform rotate3d(0,0,0,0deg) scale(1) 
    }

    20% {
        box-shadow: 0 0 0 25px cyan
    }

    100% {
        // transform rotate3d(90,90,90,90deg) scale(0) 
        box-shadow: 0 0 0 25px rgba(232,76,61,0)
    }
}



	
.about-me
	margin-left 33%
	font-size 24px 
	
.svg-pat
	size 500px
	fill url('#imgpattern')

.here
	display inline-block
	font-size 24px 

#pooh
	mask-image url('/images/half-mask.svg')

.csssvg
	color black 
	filter url(#light)

#trans	
	height 50px
	width 50px
	background-color red
	transition all .4s ease-in
	
#trans:hover
	height 200px
	width 200px
	background-color blue

#svg-mask
	 
	mask-image url('/images/cooper1.png')
	mask-size cover
	
.blend
	// color red 
	//fuck you
	height 100vh
	// width 100vw
	
	background-color #3db6b8
	background-size cover 
	background-image url("/images/IMG_2157.jpg")
	background-blend-mode difference
	background-position right bottom 

.banner-text
	position absolute
	text-align center
	margin-top 300px
	margin 100px 15% 0px 15%

#target
	filter url(#f1)
		
#target:hover
	filter none
		
// svg text 
// 	font-size 72px
		
.text-inside
	background-image url("/images/IMG_2154.jpg")
	
.hero
	background-image  linear-gradient(rgba(255, 0, 0, 0.5),rgba(255, 0, 0, 0.5)), url('/images/cooper.jpg')
	background-size cover
	height 100vh
	
.hero2
	background-size cover
	height 100vh
	background-image  url('/images/cooper.jpg')
	background-attachment fixed
	position relative
	top 200px
	overflow hidden
	margin 20px
	.wrapper
		padding 4px 8px
		margin 0
		background rgba(0,0,0,.25)
		position absolute
		top 0 
		left 0
		width 100%
		text-align center
		background inherit
		h1
			color red
			z-index 1
			position relative
			
.wrapper::before
	content: "";
	position: absolute;
	top: 0
	left: 0;
	width: 100%;
	height: 100%;
	background: inherit;
	background-attachment: fixed;
	-webkit-filter: blur(4px);
	filter: blur(4px);
	
.wrapper::after
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.25)
	
.michael
	stroke-dasharray 1491.854736328125
	stroke-dashoffset 1491.854736328125
	animation dash 2s linear forwards
	fill #303030
	stroke-width 6
	
.l
	stroke-dasharray 321.9512939453125
	stroke-dashoffset 321.9512939453125
	animation dash .5s linear 2s forwards
	fill #303030
	stroke-width 6
	
.a
	stroke-dasharray 111.56381225585938
	stroke-dashoffset 111.56381225585938
	animation dash .5s linear 2.5s forwards
	fill #303030
	stroke-width 6

.h
	stroke-dasharray 170.08432006835938
	stroke-dashoffset 170.08432006835938
	animation dash .5s linear 3s forwards
	fill #303030
	stroke-width 6

.hay
	stroke-dasharray 432.82635498046875
	stroke-dashoffset 432.82635498046875
	animation dash 1s linear 3.5s  forwards
	fill #303030
	stroke-width 6
	
.dot
	stroke-dasharray 6.6591997146606445
	stroke-dashoffset 6.6591997146606445
	animation dash .1s linear 4.5s forwards
	fill #303030
	stroke-width 6
	
	
.logo-path
	stroke-dasharray 10022.2587890625
	stroke-dashoffset 10022.2587890625
	animation dash 5s linear forwards
	fill #303030
	stroke-width 6
// .st1
// 	stroke-dasharray 128.72665405273438
// 	stroke-dashoffset 128.72665405273438
// 	animation dash 5s linear forwards
// 	fill #303030
// 	stroke-width 2
// 	stroke pink
@keyframes dash {
	to {
		stroke-dashoffset 0
	}
}
// .st2:hover
// 	filter: url(#pictureFilter);
// 	fill: yellow;
	
// .st0:hover
// 	filter url(#imageFilter)
// .coat
// 	size 100px
// 	position absolute
// 	top 10px
	// left 10px
	
.small-coat
	display block
	position static
	
img[src*='IMG_215']
	height 100vh
	width 100%
	
#blurredimg
	height 100vh
	width 100%
	background-size cover
	background-image url("/images/code.png")
	// filter url(#rad)
	filter url(#blurred)
#pica
	position absolute
	top 0px
	left 0px 
	height 100vh
	width 100%
	background-size cover
	background-image url("/images/cooper1.png")
	filter url(#pic)
	z-index 2
		
#coop
	height 100vh
	width 100%
	background-size cover
	background-image url("/images/cooper.png")
	// filter url(#rad)
	// filter url(#blurred)
.rela
	position relative
	height 100vh
	
#blurcoop
	position absolute
	top 0px
	left 0px 
	height 100vh
	width 100vw
	background-size cover
	background-image url("/images/cooper.png")
	
	
	
.coat:hover, .element:hover
	filter url(#imgFilter)
		
// .svg:hover
// 	filter url(#svgFilter)
		
// #b:hover
// 	filter url(#imageFilter)
		


	
md-nav-bar
	height 120px !important
	
	
// img[src$='png']
// clearfix()
img[src*='shape']
	shape-outside: url('/images/shape.png');
	shape-image-threshold: 0.5;
	float: right;
.element
	size 300px
	shape-outside: url('/images/cooper1.png');
	shape-image-threshold: 0.5;
	float: left;
	
.hello
	text-transform uppercase
	font-size 100px
	margin-bottom 0
	margin-top 20px
	
.mike
	font-size 75px
	text-transform uppercase
	margin 0
	
.dev, .mean, .checkout
	font-size 30px
	text-transform uppercase
	
.hero  h1
	color cornflowerBlue
	opacity .9
.svg-wrapper
	position relative
	// padding-top 125px
.learn-more
	position absolute
	bottom 0
	left: 50%;
	transform: translate(-50%, 0);
	min-width 75vw
	text-align center
	
	
	



	