.result
	font-size 44px
	color black
	
.filtered
	filter url(#filter)
	font-size 60px
	
.foo
	background green
	margin 10px
	padding 10px
	
.small-header
	text-align center
	color blue-color
	text-transform uppercase
	
.button-group
	background-color grey
