#title-grid-container
	background-image url('/images/export-pattern.svg')

#grid-title
	font-size 72px
	margin 0 auto
	
#skills
	filter url(#money)
		
.skills-grid.grid-in-view
	transform  translateY(0px)
	opacity 1
	
		
.skills-grid 
	margin 0 10px
	display grid
	// padding-bottom 10px
	grid-template-columns repeat(auto-fill, minmax(310px, 1fr))
	// grid-template-rows repeat(auto-fill, minmax(300px, 1fr))
	grid-gap 10px
	transform translateY(100px)
	opacity .5
	font-size 48px
	transition all 2s
	.skill-item
		display flex
		height 200px
		background-color purple
		text-align center
		-webkit-box-shadow 2px 2px 2px #000 
		box-shadow 2px 2px 2px #000
		position relative
.skills-grid:before	
	display none 
		
.ab
.can
	position absolute
	text-align center
	bottom 40%
	left 0
	right 0
	opacity 0
	visibility hidden
	z-index 2
	
.skill-item:hover 
	.ab
		left 0
		right 0
		top 0
		bottom 0
		opacity .48
		visibility visible
		background-color rgba(33,33,33,1.0)
	.can
		// bottom 40%
		// position absolute
		// margin-left auto 
		// margin-right auto
		opacity 1
		visibility visible
		z-index 3
		color white
		font-weight bold 
			
.svg
	background-color none
	background-image url('/images/svg.svg')
	background-size contain
	background-repeat no-repeat
	background-position center
.canvas
	background-color none
	background-image url('/images/canvas.png')
	background-size cover
	background-repeat no-repeat
	background-position center
	

#html
	background-image url('/images/html-5.svg')
	background-color none
	background-size 50%
	background-repeat no-repeat
	background-position center
	
#css
	background-image url('/images/css-3.svg')
	background-color none
	background-size 50%
	background-repeat no-repeat
	background-position center

#js
	background-image url('/images/java-script.svg')
	background-color none
	background-size 50%
	background-repeat no-repeat
	background-position center

#angular
	background-image url('/images/angular.svg')
	background-color none
	background-size 50%
	background-repeat no-repeat
	background-position center
	





