.md-cell, .md-column
	color white !important
	font-size 14 !important

.md-table .md-cell
	border-top solid rgb(33,150,243) 2px !important
	
i, abbr
	display inline-block
	

.user-intro
	border 3px rgb(33,150,243) solid
	margin 40px 0 8px 0
	text-align center
	
md-card-title
	padding-bottom 70px !important
	
md-progress-circular
	position fixed !important
	top 0 
	left 0
	height 100% !important
	width 100% !important
	background-color rgba(0,0,0,0.5)
	z-index 100
	svg
		position absolute
		left 50% !important
		top 50% !important
		margin -150px 0 0 -150px !important
		
#mt30
	margin-top 30px 
	
md-input-container.bottom label:not(.md-container-ignore)
	bottom 22px
		
