@import 'typographic'
// <<<<<<< HEAD
@import 'nib'
@import 'styl/*'


 

.user-intro
	border 3px seagreen solid
	margin 8px 0 8px 0
	text-align center
	
md-card
	margin 0 !important
	padding 8px

.diff-container
	text-align center
	md-whiteframe
		padding 0 30px 0 30px    

.bar
	background-color green
	font-size 28px
   
.variable
	color primary-color
	background-color secondary-color
	display block 


   
.autoprefixer
	display flex



.nib
	clearfix()


.hero 
	// background-image url('/images/background.svg')
	background-size cover
	backgroun-repeat no-repeat
	
		
md-nav-bar
	background linear-gradient(45deg, red, yellow)
	height 200px
	
.logo
	background url('/images/graybluelogo.svg') no-repeat
	size 100px
	absolute()
	left 0
	cursor pointer !important
	

#hamburger
	float right

.diff.ng-enter
	animation bounceIn 1s
	
.diff.ng-enter-stagger
	animation-delay 0.1s	
	animation-duration 0s
	-webkit-animation-delay 0.1s
	-webkit-animation-duration 0s
	transition-delay 0.1s
	transition-duration 0s
	-webkit-transition-delay 0.1s
	-webkit-transition-duration 0s
#stick
	position sticky
	top 100px
	z-index 1

.checkstyle
	color green
	
#tool-container
	position absolute
	height 200px
	width 400px

body
	height auto !important

.md-nav-bar
	width 100%
	
ul
	justify-content space-around

.loginBox
	max-width 90%
	width 500px


[ui-view].ng-enter
	animation slideInRight 1s
    


	
[ui-view].ng-leave
	animation slideOutRight 1s

	

.ui-view.ng-enter
	animation zoomIn 1s
	
.ui-view.ng-enter.ng-enter-active
	background red
	
// .ui-view.ng-leave
// 	animation hinge 1s
	
.ui-view.ng-leave.ng-leave-active
	background blue
	float right
	
.repeatedItem.ng-leave
	animation bounceOut 3s

.repeatedItem.ng-enter
	animation bounceIn 3s
	

.ng-hide-add
	animation bounceOut 3s
	display block !important
	
.ng-hide-remove
	animation bounceIn 3s
	

