@font-face {
  font-family: Alice;
  font-style: normal;
  font-weight: 400;
  src: local(Alice),local(Alice-Regular),url(//fonts.gstatic.com/s/alice/v7/sZyKh5NKrCk1xkCk_F1S8A.eot?#) format("eot"),url(//fonts.gstatic.com/s/alice/v7/_H4kMcdhHr0B8RDaQcqpTA.woff) format("woff2"),url(//fonts.gstatic.com/s/alice/v7/_H4kMcdhHr0B8RDaQcqpTA.woff) format("woff");
}
.font-magician {
  font-family: 'Alice';
}
footer {
  background: -webkit-linear-gradient(45deg, #2ecc40, #0074d9);
  background: -moz-linear-gradient(45deg, #2ecc40, #0074d9);
  background: -o-linear-gradient(45deg, #2ecc40, #0074d9);
  background: -ms-linear-gradient(45deg, #2ecc40, #0074d9);
  background: linear-gradient(45deg, #2ecc40, #0074d9);
}
md-fab-speed-dial {
  float: right;
}
 {
  zoom: 1;
}
.hero {
  background-image: -webkit-linear-gradient(rgba(255,0,0,0.5), rgba(255,0,0,0.5)), url("/images/cooper.jpg");
  background-image: -moz-linear-gradient(rgba(255,0,0,0.5), rgba(255,0,0,0.5)), url("/images/cooper.jpg");
  background-image: -o-linear-gradient(rgba(255,0,0,0.5), rgba(255,0,0,0.5)), url("/images/cooper.jpg");
  background-image: -ms-linear-gradient(rgba(255,0,0,0.5), rgba(255,0,0,0.5)), url("/images/cooper.jpg");
  background-image: linear-gradient(rgba(255,0,0,0.5), rgba(255,0,0,0.5)), url("/images/cooper.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 100vh;
}
.hero2 {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 100vh;
  background-image: url("/images/cooper.jpg");
  background-attachment: fixed;
  position: relative;
  top: 200px;
  overflow: hidden;
  margin: 20px;
}
.hero2 .wrapper {
  padding: 4px 8px;
  margin: 0;
  background: rgba(0,0,0,0.25);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: inherit;
}
.hero2 .wrapper h1 {
  color: #d13f19;
  z-index: 1;
  position: relative;
}
.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  background-attachment: fixed;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
.wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.25);
}
.logo-path {
  stroke-dasharray: 10022.2587890625;
  stroke-dashoffset: 10022.2587890625;
  -webkit-animation: dash 5s linear forwards;
  -moz-animation: dash 5s linear forwards;
  -o-animation: dash 5s linear forwards;
  -ms-animation: dash 5s linear forwards;
  animation: dash 5s linear forwards;
  fill: #303030;
  stroke-width: 6;
}
:before,
:after {
  content: "";
  display: table;
}
:after {
  clear: both;
}
img[src*='shape'] {
  shape-outside: url("/images/shape.png");
  shape-image-threshold: 0.5;
  float: right;
}
.element {
  width: 300px;
  height: 300px;
  shape-outside: url("/images/cooper1.png");
  shape-image-threshold: 0.5;
  float: left;
}
.hello {
  text-transform: uppercase;
  font-size: 100px;
  margin-bottom: 0;
  margin-top: 20px;
}
.mike {
  font-size: 75px;
  text-transform: uppercase;
  margin: 0;
}
.dev,
.mean,
.checkout {
  font-size: 30px;
  text-transform: uppercase;
}
.hero h1 {
  color: cornflowerBlue;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}
@-moz-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.lost {
  width: calc(99.99% * 1/3 - (30px - 30px * 1/3));
}
.lost:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}
.lost:last-child {
  margin-right: 0;
}
.lost:nth-child(3n) {
  margin-right: 0;
  float: right;
}
.lost:nth-child(3n + 1) {
  clear: left;
}
.diff div {
  font-size: 44px;
  margin: 5px;
  padding: 5px;
}
.rucksack:nth-last-child(n+4), .rucksack:nth-last-child(n+4) ~ .rucksack {
  color: #0074d9;
}
.rupture {
  color: #d13f19;
}
@media only screen and (max-width: 700px) {
  .rupture {
    color: #0074d9;
  }
}
.demo {
  position: absolute;
}
.user-intro {
  border: 3px #2e8b57 solid;
  margin: 8px 0 8px 0;
  text-align: center;
}
md-card {
  margin: 0 !important;
  padding: 8px;
}
.diff-container {
  text-align: center;
}
.diff-container md-whiteframe {
  padding: 0 30px 0 30px;
}
.bar {
  background-color: #2ecc40;
  font-size: 28px;
}
.variable {
  color: #2ecc40;
  background-color: #d13f19;
  display: block;
}
.autoprefixer {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.nib {
  zoom: 1;
}
.nib:before,
.nib:after {
  content: "";
  display: table;
}
.nib:after {
  clear: both;
}
.hero {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  backgroun-repeat: no-repeat;
}
md-nav-bar {
  background: -webkit-linear-gradient(45deg, #d13f19, #ffdc00);
  background: -moz-linear-gradient(45deg, #d13f19, #ffdc00);
  background: -o-linear-gradient(45deg, #d13f19, #ffdc00);
  background: -ms-linear-gradient(45deg, #d13f19, #ffdc00);
  background: linear-gradient(45deg, #d13f19, #ffdc00);
  height: 200px;
}
.logo {
  background: url("/images/graybluelogo.svg") no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  cursor: pointer !important;
}
#hamburger {
  float: right;
}
.diff.ng-enter {
  -webkit-animation: bounceIn 1s;
  -moz-animation: bounceIn 1s;
  -o-animation: bounceIn 1s;
  -ms-animation: bounceIn 1s;
  animation: bounceIn 1s;
}
.diff.ng-enter-stagger {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
  -webkit-animation-duration: 0s;
  -moz-animation-duration: 0s;
  -o-animation-duration: 0s;
  -ms-animation-duration: 0s;
  animation-duration: 0s;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-duration: 0s;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -ms-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-delay: 0.1s;
  -webkit-transition-duration: 0s;
}
#stick {
  position: sticky;
  top: 100px;
  z-index: 1;
}
.checkstyle {
  color: #2ecc40;
}
#tool-container {
  position: absolute;
  height: 200px;
  width: 400px;
}
body {
  height: auto !important;
}
.md-nav-bar {
  width: 100%;
}
ul {
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.loginBox {
  max-width: 90%;
  width: 500px;
}
[ui-view].ng-enter {
  -webkit-animation: slideInRight 1s;
  -moz-animation: slideInRight 1s;
  -o-animation: slideInRight 1s;
  -ms-animation: slideInRight 1s;
  animation: slideInRight 1s;
}
[ui-view].ng-leave {
  -webkit-animation: slideOutRight 1s;
  -moz-animation: slideOutRight 1s;
  -o-animation: slideOutRight 1s;
  -ms-animation: slideOutRight 1s;
  animation: slideOutRight 1s;
}
.ui-view.ng-enter {
  -webkit-animation: zoomIn 1s;
  -moz-animation: zoomIn 1s;
  -o-animation: zoomIn 1s;
  -ms-animation: zoomIn 1s;
  animation: zoomIn 1s;
}
.ui-view.ng-enter.ng-enter-active {
  background: #d13f19;
}
.ui-view.ng-leave.ng-leave-active {
  background: #0074d9;
  float: right;
}
.repeatedItem.ng-leave {
  -webkit-animation: bounceOut 3s;
  -moz-animation: bounceOut 3s;
  -o-animation: bounceOut 3s;
  -ms-animation: bounceOut 3s;
  animation: bounceOut 3s;
}
.repeatedItem.ng-enter {
  -webkit-animation: bounceIn 3s;
  -moz-animation: bounceIn 3s;
  -o-animation: bounceIn 3s;
  -ms-animation: bounceIn 3s;
  animation: bounceIn 3s;
}
.ng-hide-add {
  -webkit-animation: bounceOut 3s;
  -moz-animation: bounceOut 3s;
  -o-animation: bounceOut 3s;
  -ms-animation: bounceOut 3s;
  animation: bounceOut 3s;
  display: block !important;
}
.ng-hide-remove {
  -webkit-animation: bounceIn 3s;
  -moz-animation: bounceIn 3s;
  -o-animation: bounceIn 3s;
  -ms-animation: bounceIn 3s;
  animation: bounceIn 3s;
}
